<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=locals.title%></title>
    <%-style-%>
    <!-- whenever view engine get any style/script inside an body ejs file it store in styles/scripts-->
  </head>
  <body>
    <div id="app"><%- include("_navbar.ejs")-%> <%- body%> <%- script-%></div>
  </body>
</html>
